
p {
    padding: 10px 10px 0px 10px;
}
h2 {
	font-size:4.2em;
	font-weight:normal;
	
}
h1 {
	font-size:5em;
	font-weight:normal;
	
}
h3 {
	font-size:2.5em;
	font-weight:normal;
	padding-bottom:2px;
	
}
h4 {
	font-size:1.5em;
	font-weight:normal;
	
}

input[type=radion] {
    padding-bottom:50px;
}
.nobreak {
	display:inline;
}
.content {
	margin-left:25px;
	margin-right:25px;
}

.sections {
	padding:15px;
	border:1px solid black;
}

.header {
	padding-top:20px;
	padding-left:20px;
}

.wine_tasting {
	margin-bottoom:50px;
}

.slide {
    max-width:100%;
	min-width:100%;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	
	.slide{
	  max-width: 100%;
	  height: auto;
	}
	
	.everything {
		 min-width: 100%;
	}
	
	.logo {
		max-width:100%;
	}
	
	.nav {
		margin-bottom:50px;
		padding-bottom:20px;
	}
 }

/* Landscape phones and down */
@media (max-width: 480px) {
	
	.slide{
	  max-width: 100%;
	  height: auto;
	}
	
	.everything {
		min-width: 100%;
	}
	
	.logo {
		max-width:100%;
	}
	
	.nav {
		margin-bottom:50px;
		padding-bottom:20px;
	}
}

.nav a {
	color:gray;
}

.nav {
	height:70px;
	padding-top:10px;
}

.active {
	padding-bottom:1px solid gray;
}

.a .lead {
	font-weight:normal;
}

.homeBanner {
	padding:5px;
	background-color:#DEDEDE;
	border:1px solid #B9B9B9;
	border-bottom:1px solid #B9B9B9;
	margin:10px;
	border-radius:5px;
}

.foot {
	margin-bottom:10px;
}

featurette {
	padding-bottom:100px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  .carousel .item {
    height: 350px;
  }
  .carousel img {
    width: auto;
    height: 350px;
  }

  .featurette {
    height: auto;
    padding:0px;

  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}

